# SPDX-License-Identifier: CC0-1.0 
# SPDX-FileCopyrightText: 2025 Marcel M. T. (wamu_M) <contact@wamu-m.com> 

# File Managed by SaltStack (original can be found at salt://dom0/split-gpg/gpg2.policy )

qubes.Gpg2 * @anyvm @default ask default_target=sys-gpg
