[Desktop Entry]
Type=Application
Exec=/usr/bin/st
TryExec=/usr/bin/st
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
Name=st - Simple-Terminal
GenericName=Terminal
Comment=st is a simple terminal implementation for X also known as suckless terminal
StartupWMClass=st-256color
